.register-form {
    /* background-color: #fff5f8; */
    background-color: white;
    border: 1px solid #cccccc;
    border-radius: 30px;
    box-sizing: border-box;
    display: block;

    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px; 
}
.register-form h3{
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    text-transform: uppercase;
}
.register-form p{
    text-align: center;
    margin-top: 15px;
}
.register-form .register {
    padding: 40px 48px;
}
.register input{
    border-radius: 10px;
    height: 40px;
}
.register button{
    /* background-color: #FF424E; */
    background: linear-gradient(180deg, #f79429, #f7712e);
    border-color: #FF424E;
    border-radius: 10px;
    display: block;
    margin-top: 40px;

    margin-left: auto;
    margin-right: auto;
    height: 40px;
    width: 100%;
}
.register span {
    background-color: #ff3366;
    display: block;
    margin: 8px auto 0;
    height: 4px;   
    width: 100px;
}
.invalid-feedback {
    color: red;
}
.App {
    background-color: #f5f5f5;
    color: black;
}
.login-link {
    border: 1px solid #cccccc;
    border-radius: 50px;
    display: inline-block;
    height: 50px;
    width: 50px;
    min-width: 50px;
    padding: 8px;
    background-color: #dcdcdc;
    border-color:#cccccc;
    margin-left: 3px;
    margin-right: 3px;
}
.login-link i{
    padding-top: 6px;
}
.login-link-partner {
    text-align: center;
}
.preorder-hot {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    /* width: 292px; */
}
.img-slider {
    padding-left: 10px;
    margin-bottom: 10px;
    height: 148px;
    width: 139px;
}
.logo_web {
    width: 160px;
    height: 45px;
}
.list_i {
    font-size: 30px;
    color: white;
    margin-right: 5px;
}
.carousel {
    border: 1px solid #cccccc;
    background-color: black;
    border-radius: 5px;

}